openapi: '3.0.3'
info:
  title: MC Taskmaster
  version: '1.0'
servers:
  - url: http://api.task.jazure.net
paths:
  /tasks:
    get:
      operationId: get_tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Task"
                  count:
                    type: integer
                required:
                  - tasks
                  - count
    post:
      operationId: create_task
      requestBody:
        description: Create a new task
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                points:
                  type: integer
                min_session:
                  type: integer
                max_session:
                  type: integer
              required:
                - description
                - points
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Task created successfully
  /tasks/{task_id}:
    patch:
      operationId: update_task
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                points:
                  type: integer
                min_session:
                  type: integer
                max_session:
                  type: integer
              required:
                - description
                - points
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Task updated successfully
        "404":
          description: Task not found

#### WEB
# get specific task
# add task
# edit task
# delete task

# add category
# update category
# delete category

# add task to category (PUT /tasks/{taskId}/categories/{categoryId} ?)
# remove task from category

#### DISCORD BOT
# look at current discord bot for what we need to support
# all tasks should be returned in the order they were assigned
# /player/{playerId}/tasks GET
# /player/{playerId}/tasks/assign (assign tasks to player)
# /player/{playerId}/tasks/reroll (assign tasks to player)
# /player/{playerId}/tasks/{taskId OR idx in time_assigned order}/fail POST
# /player/{playerId}/tasks/{taskId OR idx in time_assigned order}/complete POST

# /player/{playerId}/categories/{categoryId} PUT
# /player/{playerId}/categories/{categoryId} DEL

#### MANAGEMENT
# /session/start POST
# /session/end POST

components:
  schemas:
    Category:
      properties:
        id:
          type: string
        name:
          type: string
    Task:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        points:
          type: integer
        min_session:
          type: integer
        max_session:
          type: integer
        enabled:
          type: boolean
        categories:
          type: array
          items:
            $ref: "#/components/schemas/Category"
      required:
        - id
        - name
        - description
        - points
        - categories
